{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'> </script>
    

    <title>Document</title>
</head>

<body>
    <h2> {{bond}}</h2>
        <div class = "col-md-12">
            <form method = "POST">
                {% csrf_token %}
                {{form}}
                <button type = "submit">Save & exit</button>
            </form>

            {% if bond %}
                <a href="{% url 'delete_bond' bond.id %}">Delete</a>
            {% endif %} </br>
            
                <div class= "col-md-1">
                    <table class="table table-striped"><tr><th>Day</th></tr>
                        {%for paiva in paivat%}
                            <tr>
                                <td>{{paiva}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% if bond %}
                <p>Data from AlphaVantage Link: https://www.alphavantage.co</p>
                {%endif%}    
                </div >

            
                <div class="col-md-3">
                    <table class="table table-striped"><tr><th>Open</th><th>High</th><th>Low</th><th>Close</th><th>Volume</th></tr>
                        {%for arvo in avaimet%}
                            <tr>
                            {%for key, alkio in arvo.items%}
                                
                                <td>{{ alkio }}</td>
                                
                                {%endfor%}
                            </tr>
                            
                        {% endfor %}
                    </table>
                </div>
                <div class = "col-md-4">
                    <h2> Opening price last 100 days</h2>
                    <canvas id="myChart2" width="400" height="400"></canvas>
                    <script>
                        var ctx = document.getElementById('myChart2').getContext('2d');
                        var myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: [{% for item in paivatrvrs %}'{{item}}', {% endfor %}],
                                datasets: [{
                                    label: 'Opening price',
                                    data: [{% for item in open_values %} {{item}}, {% endfor %}],
                                    backgroundColor: [
                                        'rgba(100, 0, 255, 1)',
                                        
                                    ],
                                    borderColor: [
                                    {% for item in varit %} '{{item}}', {% endfor %}
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        ticks: {
                                            beginAtZero: false
                                        }
                                    }]
                                }
                            }
                        });
                        </script>
                        </b>
                        <h2> Opening price last 100 days (from zero)</h2>
                        <canvas id="myChart3" width="400" height="400"></canvas>
                        <script>
                            var ctx = document.getElementById('myChart3').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: [{% for item in paivatrvrs %}'{{item}}', {% endfor %}],
                                    datasets: [{
                                        label: 'Opening price',
                                        data: [{% for item in open_values %} {{item}}, {% endfor %}],
                                        backgroundColor: [
                                            'rgba(50, 100, 50, 1)'
                                            
                                        ],
                                        borderColor: [
                                        {% for item in varit %} '{{item}}', {% endfor %}
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                            });
                            </script>
           
                           
                </div>
                <div class = "col-md-4">
                    <h2> Volume last 100 days</h2>

                        <canvas id="myChart" width="400" height="400"></canvas>
                        <script>
                            var labels = 'testi'
                            
                            var ctx = document.getElementById('myChart').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: [{% for item in paivatrvrs %}'{{item}}', {% endfor %}],
                                    datasets: [{
                                        label: 'Volume',
                                        data: [{%for volume in volume_values%}{{volume}}, {%endfor%}],
                                        backgroundColor: [
                                        {% for item in varit %} '{{item}}', {% endfor %}
                                            
                                        ],
                                        borderColor: [
                                        {% for item in varit %} '{{item}}', {% endfor %}
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                            });
                            </script>

                </div>           
        </div>
</body>

</html>

