<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>Document</title>
</head>
<body>
    <h2>{{bond}} was not found from the database</h2>
    <form method = "post">
        {% csrf_token %}
            <button type= "submit" >Delete & move to main page</button>
    </form>
</body>
</html>