{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href= "style.css">
    <title>Document</title>
</head>

<body>
    <h2> New/update bond</h2>

        <section class="container">
        
            <div class="one" style="width: 500px;">
            

                <form method = "POST">
                    {% csrf_token %}
                    {{form}}
                    <button type = "submit">Save</button>
                </form>

                {% if bond %}
                    <a href="{% url 'delete_bond' bond.id %}">Delete</a>
                {% endif %}
            

            </div>

            <div class="two">
                kissa
            </div>
        </section>


    <h2> New/update bond</h2>

        <section class="container">
        
            <div class="one" style="width: 500px;">
    
				koira
			</div>
				
			<div class="two">
				kissa
			</div>
			
			
        </section>

</body>

</html>